   {% load i18n static %}<style>
  .item-wrapper {
    padding: 20px;
    border: 2px solid #efefef;
    border-radius: 7px;
    margin-top: 40px;
  }
  .item-wrapper:hover .img-wrapper img {
    -webkit-filter: grayscale(0);
  }
  .item-wrapper:hover .img-wrapper .add-to-cart {
    bottom: 0;
  }

  .img-wrapper {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }
  .img-wrapper .add-to-cart {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #333;
    padding: 16px 8px;
    bottom: -50px;
    position: absolute;
    z-index: 2;
    color: #fff;
    margin: 0 auto;
    border: none;
    box-shadow: none;
  }
  .img-wrapper .add-to-cart:hover {
    background-color: #008cba;
  }
  .img-wrapper img {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-filter: grayscale(1);
    width: 100%;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 12px;
    font-weight: bold;
  }

  h5 {
    font-weight: bold;
  }

  p {
    color: #888;
    font-size: 13px;
    margin-bottom: 0;
  }
</style>   
{% for gallery in galleries %}
  <div class="large-3 small-6 columns">
    <div class="item-wrapper">
      <div class="img-wrapper">
        <a class="button expand add-to-cart" href="{% url "user_gallery" gallery.user.id gallery.id %}" >{% trans "Watch gallery" %}</a>
        <a href="{% url "user_gallery" gallery.user.id gallery.id %}"><img src="{{ gallery.picture_set.first.picture_medium.url }}"></a>
      </div>  
      <a href="{% url "user_gallery" gallery.user.id gallery.id %}"><h4>{{ gallery.title|truncatechars:25 }}</h4></a>
      <h3><a href="{% url "user_galleries" gallery.user.id %}">{{ gallery.user.username|truncatechars:25 }}</a></h3>
      <p>{% if gallery.description %}{{ gallery.description|truncatechars:25  }}{% else %}{% trans "No description" %}{% endif %}</p>
    </div>  
  </div>
{% endfor %}